# Amin M. Boulouma Blog

## Getting started with Numbers, Strings and Lists - #2 Python complete tutorial made simple

Hosted by Amin M. Boulouma, contact and questions: [amine.boulouma.com](https://amine.boulouma.com)
- Python tutorial made simple: https://www.youtube.com/channel/UCOZbokHO727qeStxeYSKMUQ
- Source code: https://amboulouma.com/python-tutorial
- Github: https://github.com/amboulouma/python-complete-tutorial-made-simple

### Getting started

In [5]:
# this is the first comment

# n and text is a variable
n = 1  # and this is the second comment
          # ... and now a third!
    
text = "This is some text"

In [2]:
n

1

In [3]:
text

'This is some text'

### Programming a calculator

#### Numbers

In [6]:
2 + 2

4

In [7]:
50 - 5*6

20

In [8]:
(50 - 5*6) / 4

5.0

In [9]:
8 / 5  # division always returns a floating point number

1.6

In [10]:
17 / 3  # classic division returns a float

5.666666666666667

In [11]:
17 // 3  # floor division discards the fractional part

5

In [12]:
17 % 3  # the % operator returns the remainder of the division

2

In [13]:
5 * 3 + 2  # floored quotient * divisor + remainder

17

In [14]:
5 ** 2  # 5 squared

25

In [15]:
2 ** 7  # 2 to the power of 7

128

In [16]:
width = 20
height = 5 * 9

width * height

900

In [17]:
m  # try to access an undefined variable

NameError: name 'm' is not defined

In [21]:
4 * 3.75 - 1

14.0

In [23]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [24]:
price + _

113.0625

In [25]:
round(_, 2)

113.06

#### Strings

In [26]:
'hello world' # single quotes

'hello world'

In [27]:
'doesn\'t' # use \' to escape the single quote

"doesn't"

In [28]:
"doesn't"  # or use double quotes instead

"doesn't"

In [29]:
'"Yes," they said.'

'"Yes," they said.'

In [32]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [33]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [34]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [35]:
s = 'First line.\nSecond line.'  # \n means newline

In [36]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [37]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [38]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [39]:
print(r'C:\some\name')  # note the r before the quote, r for raw string

C:\some\name

In [40]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [41]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [42]:
'Py' 'thon'

'Python'

In [43]:
text = ('Put several strings within parentheses '
        'to have them joined together.')

In [44]:
text

'Put several strings within parentheses to have them joined together.'

In [45]:
prefix = 'Py'

In [46]:
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-46-c5901e312aa3>, line 1)

In [47]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-47-f4764cbe42a8>, line 1)

In [48]:
prefix + 'thon'

'Python'

In [49]:
word = 'Python'

In [50]:
word[0] # character in position 0

'P'

In [51]:
word[5]  # character in position 5

'n'

In [52]:
word[-1]  # last character

'n'

In [53]:
word[-2]  # second-last character

'o'

In [54]:
word[-6]

'P'

In [55]:
word[0:2]

'Py'

In [56]:
word[2:5]

'tho'

In [57]:
word[:2] + word[2:]

'Python'

In [58]:
word[:4] + word[4:] # i

'Python'

In [59]:
word[:2]

'Py'

In [60]:
word[4:]

'on'

In [ ]:
word[-2:]

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [61]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [62]:
word[4:42]

'on'

In [63]:
word[42:]

''

In [64]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [65]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [66]:
'J' + word[1:]

'Jython'

In [67]:
word[:2] + 'py'

'Pypy'

In [68]:
s = 'hello'
len(s)

5

### Lists

In [69]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [70]:
squares[0]  # indexing returns the item

1

In [71]:
squares[-1]

25

In [72]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [73]:
squares[:] # shallow copy of squares

[1, 4, 9, 16, 25]

In [74]:
squares + [36, 49, 64, 81, 100] # Concatenation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [76]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [77]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [78]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [79]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [80]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [81]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [82]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [83]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [84]:
x[0]

['a', 'b', 'c']

In [85]:
x[0][1]

'b'

### More on programming

In [86]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
     print(a)
     a, b = b, a+b

0
1
1
2
3
5
8